* {
  &::selection {
    background: #dcbe91;
    color: #fff;
  }
  img {
    &::selection {
      background: transparent;
    }
  }
}
html {
  @include celular {
    overflow-x: hidden;
  }
  ::-webkit-scrollbar-track {
    background-color: #202020;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: #dcbe91;
  }
}
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background: #000;
}
a {
  text-decoration: none !important;
}
.uppercase {
  text-transform: uppercase;
}
.leve {
  font-weight: 100 !important;
}
.medio {
  font-weight: 400 !important;
}
.pesado {
  font-weight: 800 !important;
}
.alinhar {
  display: flex;
  align-items: center !important;
}
.botao {
  cursor: pointer;
  transition: 0.3s;
  outline: 0 !important;
  text-transform: uppercase;
  border: none;
  font-size: 0.9rem;
  padding: 10px 40px;
  letter-spacing: 0.415em;
  @include tablet {
    font-size: 0.85em;
  }
  @include celular {
    font-size: 0.75em;
  }
}

.botao-principal {
  background: transparent;
  color: #dcbe91;
  transition: 0.4s !important;
  border: 1px solid $cor-borda;
  &:hover {
    background: #dcbe91;
    color: #000;
  }
}

input,
textarea {
  width: 470px;
  height: 50px;
  padding: 0 15px;
  color: #dddddd;
  border: none;
  outline: 0 !important;
  transition: 0.4s;
  background: #202020;
  text-transform: uppercase;
  border-bottom: 1px solid #202020;
  &:focus {
    border-bottom: 1px solid #9b9b9b;
  }
}
textarea {
  height: 220px;
  padding-top: 12px;
}
p {
  margin-bottom: 0;
}
.titulo {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.455em;
  color: #fff;
  font-weight: 100;
  @include desktop {
    font-size: 1.6em;
  }
  @include tablet {
    font-size: 18px !important;
  }
  @include celular {
    max-width: 100% !important;
    letter-spacing: 0.2em !important;
  }
}
.texto {
  line-height: 150%;
  letter-spacing: 0.02rem;
  @include desktop {
    font-size: 0.9em;
  }
  @include celular {
    font-size: 0.8em;
  }
}

.jazzz {
  // background-color: $cor-principal;
  text-align: center;
  padding: 2rem 0;
  img {
    width: 50px;
  }
}

// ICONES SETA INSTAGRAM
.qligg-icon-prev,
.qligg-icon-next {
  display: none !important;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  font-size: 24px !important;
  color: #fff !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
  color: #fff !important;
}
.sobrepoe {
  z-index: -1 !important;
}

// .modal-body {
//   padding: 0 !important;
// }

.ekko-lightbox-nav-overlay a {
  color: #dcbe92 !important;
}
