// HEADER
.header {
  padding: 2rem 0 0 0;
  position: fixed;
  width: 100%;
  background: #000;
  z-index: 99;
  @include tablet {
    padding: 2rem 0 0 0;
    position: inherit;
  }
  @include celular {
    padding: 0;
  }
  .container {
    border-bottom: 1px solid $cor-borda;
    padding-bottom: 2rem;
    @include celular {
      border: none;
      padding-bottom: 0;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include celular {
      padding: 1rem;
    }
    #logo-mobile {
      display: none;
    }
    img {
      @include celular {
        width: 120px;
      }
    }
    .navegacao {
      opacity: 0;
      transition: 0.6s;
      transform: scaleY(0);
      @include tablet {
        display: none !important;
      }
      .link {
        font-size: 14px;
        text-transform: uppercase;
        border-left: 1px solid #dcbe91;
        color: #fff;
        padding: 0 1rem;
        border-radius: 0px;
        &:first-child {
          border-left: none;
        }
      }
    }
    .navegacao-mobile {
      background: #000;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 0.4s;
      opacity: 0;
      transform: scale(0);
      .link {
        font-size: 14px;
        line-height: 17px;
        color: #dcbe91;
        text-transform: uppercase;
        margin-bottom: 3rem;
        border-bottom: 1px solid $cor-borda;
        width: 70%;
        text-align: center;
        padding-bottom: 0.4rem;
      }
    }
  }
  .barra-navegacao {
    background: #202020;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0px;
    padding: 3.4rem 1.2rem;
    z-index: 9999;
    @include desktop {
      padding: 3.4rem 0.4rem;
    }
    @include tablet {
      position: fixed;
      height: auto;
      width: 100%;
      top: auto;
      bottom: 0;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 1rem 2rem;
    }
    @include celular {
      padding: 0.8rem 2rem;
    }
    .menu {
      cursor: pointer;
      #hamburguer {
        @include celular {
          width: 26px;
        }
      }
      #close {
        display: none;
        z-index: -999;
        position: absolute;
        top: -80vh;
        right: 8vw;
        transition: 0.2s;
      }
    }
  }
  .redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -78%;
    @include desktop {
      bottom: -85%;
    }
    @include tablet {
      bottom: -78%;
      flex-direction: row;
    }
    img {
      margin-top: 1rem;
      @include tablet {
        margin-top: 0;
        margin-right: 1rem;
      }
    }
    #instagram {
      img {
        @include celular {
          width: 24px;
        }
      }
    }
    #email {
      img {
        @include tablet {
          height: 22px;
          margin-bottom: 3px;
        }
        @include celular {
          height: 18px;
          width: 22px;
        }
      }
    }

    .teste-whatsapp {
      .menu-icon {
        background: url('../icons/whatsapp.png');
        background-repeat: no-repeat;
        background-size: 80% 80%;
        background-position: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 78px;
        right: 0px;
        cursor: pointer;
        @include tablet {
          bottom: 0px;
          right: -30px;
        }
        @include celular {
          background-size: 70% 70%;
          bottom: -2px;
          right: -30px;
        }
      }

      .hamburguer {
        position: relative;
        display: block;
        background: #a48e6d;
        padding: 20px;
        width: max-content;
        top: -36px;
        right: 1300%;
        transition: 0.4s ease-in-out;
        opacity: 0;
        transform: scaleY(0);
        text-align: center;
        @include tablet {
          top: -136px;
          left: 0px;
        }
        @include celular {
          top: -120px;
          left: -359%;
        }
        .item {
          margin-top: 1rem;
          &:first-child {
            margin-top: 0;
          }
        }
        a {
          background: #a48e6d;
          color: #000;
          border-bottom: 2px solid #000;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 10px;
        }
      }

      input {
        display: none;
      }

      input:checked ~ label .hamburguer {
        opacity: 1;
        transform: scaleY(1);
      }
    }

    .whatsapp-cabecalho {
      cursor: pointer;
      .info-whatsapp {
        background: #dcbe91;
        position: absolute;
        left: -310px;
        top: -10px;
        opacity: 0;
        transform: scale(0);
        transition: 0.2s;
        width: 300px;
        div {
          margin-top: 1rem;
          padding: 1rem;
          text-align: center;
          &:first-child {
            margin: 0;
          }
        }
        a {
          color: #000;
          border-bottom: 2px solid #000;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 10px;
        }
      }
      img {
        @include celular {
          width: 20px;
        }
      }
    }
  }
}
.nav-ativo {
  opacity: 1 !important;
  transform: scaleY(1) !important;
  z-index: 9999 !important;
}
.nav-ativo-mobile {
  @include tablet {
    opacity: 1 !important;
    display: flex !important;
    transform: scale(1) !important;
  }
}
.aparece {
  opacity: 1 !important;
  transform: scale(1) !important;
}
.cima {
  z-index: -1;
}
