@mixin texto-acima {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 8px;
}
@mixin titulo-secao {
    p {
        @include texto-acima;
    }
    .titulo {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 2.6em;
    }
}
@mixin borda {
    border: 1px solid $cor-borda;
}
@mixin sombra {
    box-shadow: -10px 10px 0px 0px #cabea3;
}