// MODAL
.modal {
  .modal-content {
    // background-color: $cor-secundaria;
    border-radius: 0;
    .modal-header {
      .modal-title {
        color: #222;
        font-size: 1rem;
        font-weight: bolder;
        text-align: center;
      }
    }
    .form-modal {
      text-align: center;
      input {
        width: 90%;
        border-radius: 5px;
        border: none;
        // background-color: lighten($cor-secundaria, 12%);
        color: #fff;
        outline: 0;
      }
    }
    .modal-dialog {
      max-width: 50% !important;
      margin: 4rem auto !important;
    }
    .modal-header,
    .modal-footer {
      border: none;
    }
    .close {
      outline: 0;
    }
    .botao {
      padding: 6px 36px 6px 36px;
    }
    .modal-body {
      padding: 0 1rem;
    }
  }
}
