// AGENCIADOS
.page-agenciados {
  @include celular {
    margin-top: 4rem;
  }
  .header {
    @include celular {
      background: #202020;
      position: fixed;
      width: 100%;
      top: 0;
    }
    .container {
      @include celular {
        border: none;
        position: fixed;
        width: 100%;
        background: #202020;
        top: 0;
      }
    }
    .logo {
      @include celular {
        padding: 0.6rem;
        width: max-content;
        margin: auto;
      }
      #logo-desk {
        @include celular {
          display: none;
        }
      }
      #logo-mobile {
        @include celular {
          display: block !important;
        }
      }
      img {
        @include celular {
          width: 70px;
        }
      }
    }
  }
  .lista-agenciados {
    padding-bottom: 2rem;
    padding-top: 10.5rem;
    @include tablet {
      padding-top: 0rem;
    }
    @include celular {
      padding-bottom: 4rem;
    }
    .container {
      padding: 0;
      @include celular {
        padding: 0 1rem;
      }
    }
    .agenciados {
      @include celular {
        margin-top: 1rem;
      }
      .slick-list {
        @include celular {
        }
      }
      .nav {
        border: none;
        justify-content: space-between;
        @include tablet {
          flex-direction: column;
        }
        a {
          color: #dcbe91;
          background: transparent;
          @include borda;
          border-radius: 0px;
          text-transform: uppercase;
          font-weight: 100;
          font-size: 15px;
          letter-spacing: 0.455em;
          transition: 0.2s;
          @include tablet {
            margin: 1rem 1rem 0 1rem;
            text-align: center;
          }
        }
        .active {
          font-weight: 100;
          background: #dcbe91;
          color: #000;
          @include tablet {
            font-weight: bold;
          }
        }
      }

      .tab-content {
        margin-top: 2rem;
        .itens {
          display: flex;
          flex-wrap: wrap;
          position: relative;
          left: -18px;
          width: 101.8%;
          @include tablet {
            left: 0;
            width: 100%;
          }
          .item {
            border: 1px solid $cor-borda;
            overflow: hidden;
            padding: 4px;
            outline: 0 !important;
            width: 15%;
            margin: 1rem 0 0 1.18rem;
            @include desktop {
              width: 18%;
            }
            @include tablet {
              width: 30%;
            }
            @include celular {
              width: 50%;
              margin: 1rem 0 0 0;
            }
            a {
              outline: 0 !important;
            }
            .imagem-item {
              img {
                width: 100%;
                height: 180px;
                object-fit: cover;
                transition: 0.2s;
                filter: grayscale(1);
              }
            }
            .info-item {
              background: #202020;
              padding: 0 1rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 60px;
              .nome {
                color: #dcbe91;
                font-weight: 600;
                width: max-content;
                margin: auto;
                line-height: 18px;
                font-size: 12px;
              }
              .funcao {
                color: #dddddd;
                font-weight: 100;
                text-transform: uppercase;
                font-size: 0.75rem;
              }
            }

            &:hover {
              .imagem-item {
                img {
                  filter: grayscale(0);
                }
              }
            }
          }
          .slick-prev {
            top: 285px;
            left: 1050px;
            @include tablet {
              left: 620px;
            }
            @include celular {
              left: 270px;
            }
            &::before {
              content: '';
              background: url('../icons/esquerda.svg');
              background-repeat: no-repeat;
              padding: 5px 8px;
              @include celular {
                background-size: 60%;
              }
            }
          }
          .slick-next {
            top: 285px;
            right: 8px;
            &::before {
              content: '';
              background: url('../icons/direita.svg');
              background-repeat: no-repeat;
              padding: 5px 8px;
              @include celular {
                background-size: 60%;
              }
            }
          }
        }
      }
    }
  }
}
