// PAGE QUEM SOMOS
.page-quem-somos {
  @include celular {
    padding-top: 2rem;
  }
  .header {
    @include celular {
      background: #202020;
      position: fixed;
      width: 100%;
      top: 0;
    }
    .container {
      @include celular {
        border: none;
      }
    }
    .logo {
      @include celular {
        padding: 0.6rem;
        width: max-content;
        margin: auto;
      }
      #logo-desk {
        @include celular {
          display: none;
        }
      }
      #logo-mobile {
        @include celular {
          display: block !important;
        }
      }
      img {
        @include celular {
          width: 70px;
        }
      }
    }
  }
  .principal {
    padding-top: 10.5rem;
    @include tablet {
      padding-top: 0rem;
    }
    .container {
      @include tablet {
        flex-direction: column;
      }
      @include celular {
        padding: 0 1rem;
      }
    }
    .coluna-esquerda {
      width: 38%;
      border: none;
      padding: 0;
      @include tablet {
        width: 100%;
      }
      .titulo {
        font-size: 26px;
        letter-spacing: 0.455em;
        @include borda;
        padding: 1rem;
        @include tablet {
          width: max-content;
        }
        @include celular {
          width: 100%;
          text-align: center;
        }
      }
      .itens {
        .item {
          margin-top: 1rem;
          @include borda;
          padding: 2rem;
          @include celular {
            padding: 1rem;
          }
          .nome-socio {
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: #dcbe91;
          }
          .linha {
            display: flex;
            @include celular {
              flex-direction: column;
            }
          }
          .imagem-socio {
            @include celular {
              margin: 1rem 0;
            }
            img {
              width: 139px;
              height: 183px;
              object-fit: cover;
              @include celular {
                width: 100%;
                height: 294px;
              }
            }
          }
          .texto-socio {
            margin-left: 1rem;
            @include celular {
              margin-left: 0;
            }
            p {
              font-size: 14px;
              line-height: 178.5%;
              color: #fff;
              font-weight: 100;
            }
          }
          .redes-sociais {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            img {
              width: 46px;
              height: 46px;
              object-fit: contain;
              margin-left: 0.4rem;
            }
          }
        }
      }
      .consultoria-artistica {
        margin-top: 2rem;
        @include borda;
        padding: 1rem;
        @include celular {
          text-align: center;
        }
        .titulo {
          border: none;
          padding: 0;
          margin-bottom: 1rem;
        }
        #email {
          color: #dcbe91;
          font-weight: 100;
          font-size: 0.9rem;
          @include desktop {
            font-size: 0.8rem;
          }
        }
      }
      .diferencial {
        margin-top: 2rem;
        .texto {
          @include borda;
          padding: 1rem;
          font-size: 16px;
          line-height: 178.5%;
          @include celular {
            font-size: 14px;
          }
        }
      }
    }
    .coluna-direita {
      width: 60%;
      @include tablet {
        width: 100%;
        margin-top: 2rem;
      }
      .titulo {
        font-size: 26px;
        @include celular {
          padding: 1rem;
          text-align: center;
          height: auto;
          width: auto;
          @include borda;
        }
      }
      .areas-atuacao {
        margin-top: 1rem;
        @include borda;
        padding: 1rem;
        p {
          color: #dddddd;
          font-weight: 100;
          text-transform: uppercase;
          font-size: 14px;
          @include celular {
            font-size: 12px;
          }
        }
      }
      .historia {
        margin: 2rem 0;
        .texto {
          @include borda;
          padding: 1rem;
          font-size: 16px;
          color: #fff;
          font-weight: 100;
          margin-top: 1rem;
          line-height: 178.5%;
          @include celular {
            font-size: 14px;
          }
        }
      }
    }
  }
}
