// MARCAS PARCEIRAS
.page-marcas-parceiras {
  @include celular {
    padding-top: 2rem;
  }
  .header {
    @include celular {
      background: #202020;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }
    .container {
      @include celular {
        border: none;
      }
    }
    .logo {
      @include celular {
        padding: 0.6rem;
        width: max-content;
        margin: auto;
      }
      #logo-desk {
        @include celular {
          display: none;
        }
      }
      #logo-mobile {
        @include celular {
          display: block !important;
        }
      }
      img {
        @include celular {
          width: 70px;
        }
      }
    }
  }
  .marcas {
    padding-top: 10.5rem;
    @include tablet {
      margin-top: 2rem;
      padding-top: 0rem;
    }
    .container {
      padding: 0;
      @include celular {
        padding: 0 1rem;
      }
    }
    .nav {
      border: none;
      justify-content: space-between;
      justify-content: flex-start;
      @include tablet {
        flex-direction: column;
      }
      a {
        color: #dcbe91;
        background: transparent;
        @include borda;
        border-radius: 0px;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 15px;
        letter-spacing: 0.455em;
        transition: 0.2s;
        margin-right: 2rem;
        @include tablet {
          margin: 1rem 1rem 0 1rem;
          text-align: center;
        }
      }
      .active {
        font-weight: 100;
        background: #dcbe91;
        color: #000;
        @include tablet {
          font-weight: bold;
        }
      }
    }
    .titulo {
      @include borda;
      padding: 1rem;
      width: max-content;
      margin: 0rem 0 2rem 0;
      @include celular {
        width: 100%;
        margin: 0rem 0 1rem 0;
        text-align: center;
      }
    }
    .itens {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      .item {
        margin: 1rem 1rem 0 0;
        width: 18%;
        @include tablet {
          width: 22%;
        }
        @include celular {
          margin: 1rem auto 0 auto;
          width: 46%;
        }
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}
