// PAGE CONTATO
.page-contato {
  @include celular {
    padding-top: 2rem;
  }
  .header {
    @include celular {
      background: #202020;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }
    .container {
      @include celular {
        border: none;
      }
    }
    .logo {
      @include celular {
        padding: 0.6rem;
        width: max-content;
        margin: auto;
      }
      #logo-desk {
        @include celular {
          display: none;
        }
      }
      #logo-mobile {
        @include celular {
          display: block !important;
        }
      }
      img {
        @include celular {
          width: 70px;
        }
      }
    }
  }
  .contato {
    padding-top: 10.5rem;
    @include tablet {
      margin-top: 2rem;
      padding-top: 0rem;
    }
    .container {
      padding: 0;
      @include celular {
        padding: 0 1rem;
      }
    }
    .itens {
      display: flex;
      justify-content: space-between;
      @include tablet {
        flex-wrap: wrap;
      }
      .item {
        @include tablet {
          width: 100%;
        }
        .titulo {
          @include borda;
          width: max-content;
          padding: 1rem;
          margin: 0 0 3rem 0;
          @include tablet {
            margin: 0 0 3rem -2px;
          }
          @include celular {
            width: 100%;
            text-align: center;
          }
        }
        .info {
          margin-top: 2rem;
          line-height: 145.5%;
          .nome {
            color: #dcbe91;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
            @include celular {
              font-size: 15px;
            }
          }
          .whatsapp,
          .telefone,
          .email {
            color: #fff;
            font-weight: 100;
            font-size: 15px;
            @include celular {
              font-size: 14px;
            }
            a {
              color: #fff;
            }
          }
        }
        .linha {
          margin-top: 2rem;
          display: flex;
          @include celular {
            flex-direction: column-reverse;
          }
          .telefone {
            margin-right: 2rem;
            display: block !important;
            @include celular {
              margin-top: 0.4rem;
            }
            .info {
              margin: 0 !important;
            }
          }
          .telefone,
          .whatsapp {
            font-weight: 100;
            font-size: 16px;
            display: flex;
            align-items: center;
            @include celular {
              font-size: 14px;
            }
            a {
              color: #fff;
            }
            img {
              width: 16px;
              margin-right: 0.6rem;
            }
          }
        }
        .localizacao {
          margin-top: 3rem;
          display: flex;
          align-items: center;
          img {
            width: 26px;
            margin-right: 0.6rem;
          }
          span {
            font-weight: 100;
            font-size: 16px;
            color: #fff;
            @include celular {
              font-size: 14px;
            }
          }
        }
        .avaliacao-online {
          margin-top: 3rem;
          h2 {
            color: #dcbe91;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
          }
          .whatsapp,
          .telefone,
          .email {
            color: #fff;
            font-weight: 100;
            font-size: 15px;
            @include celular {
              font-size: 14px;
            }
            a {
              color: #fff;
            }
          }
        }

        .divisor {
          width: 1px;
          height: 100%;
          background: $cor-borda;
          @include tablet {
            display: none;
          }
        }

        .formulario {
          width: min-content;
          margin-top: 6rem;
          @include tablet {
            margin: 4rem auto 0 auto;
          }
          input,
          textarea {
            margin-top: 1rem;
            @include tablet {
              width: 90vw;
            }
          }
          .area-botao {
            margin-top: 2rem;
            .botao {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
