// PAGE OFICINAS E PALESTRAS
.page-oficinas-palestras {
  @include celular {
    padding-top: 2rem;
  }
  .header {
    @include celular {
      background: #202020;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }
    .container {
      @include celular {
        border: none;
      }
    }
    .logo {
      @include celular {
        padding: 0.6rem;
        width: max-content;
        margin: auto;
      }
      #logo-desk {
        @include celular {
          display: none;
        }
      }
      #logo-mobile {
        @include celular {
          display: block !important;
        }
      }
      img {
        @include celular {
          width: 70px;
        }
      }
    }
  }
  .oficinas-palestras {
    padding-top: 10.5rem;
    margin-bottom: 0.7rem;
    padding-bottom: 2rem;
    @include tablet {
      padding-top: 0rem;
      margin-top: 2rem;
    }
    .container {
      padding: 0;
      @include celular {
        padding: 0 1rem;
      }
    }
    .titulo {
      @include borda;
      width: max-content;
      padding: 1rem;
    }
    #carouselOficinasPalestras {
      margin-top: 2rem;
      .itens {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
          display: flex;
          width: 31%;
          margin: 2rem 0 0 0;
          border: 1px solid $cor-borda;
          padding: 4px;
          @include tablet {
            width: 48%;
          }
          @include tablet {
            width: 100%;
          }
          &:nth-child(even) {
            a {
              flex-direction: row-reverse;
            }
          }
          &:nth-child(odd) {
            a {
              flex-direction: row;
            }
          }
          a {
            display: flex;
            width: 100%;
          }
          .imagem-item {
            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
            }
          }
          .info-item {
            background: #202020;
            padding: 1.74rem 0rem 1.74rem 1.4rem;
            width: 100%;
            .titulo-item {
              color: #dcbe91;
              font-weight: bold;
            }
            .participacao {
              color: #dddddd;
              font-size: 14px;
              font-weight: 100;
            }
            .publico-alvo,
            .capacidade,
            .duracao,
            .estrutura,
            .investimento,
            .conteudo {
              display: none;
            }
          }
        }
      }
      .carousel-control-prev,
      .carousel-control-next {
        width: max-content;
        height: max-content;
        top: 108%;
        @include celular {
          top: 111%;
          display: none;
        }
      }
      .carousel-control-prev {
        left: 1050px;
        @include desktop {
          left: 880px;
        }
        @include tablet {
          left: 620px;
        }
        @include celular {
          left: 260px;
        }
      }
      .carousel-control-prev-icon {
        background: url('../icons/esquerda.svg');
      }
      .carousel-control-next-icon {
        background: url('../icons/direita.svg');
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-size: 80%;
        height: 40px;
        background-repeat: no-repeat;
        @include celular {
          background-size: 50%;
        }
      }
    }
  }
}
