// PRINCIPAL
.principal {
  padding-top: 11rem;
  @include tablet {
    padding-top: 2rem;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    @include tablet {
      flex-direction: column-reverse;
    }
  }
  .coluna-esquerda {
    width: 26.8%;
    padding: 2rem 2rem 2rem 2rem;
    border: 1px solid $cor-borda;
    @include tablet {
      width: 100%;
      margin-top: 2rem;
    }
    @include celular {
      border: none;
    }
    .titulo {
      font-size: 1.2rem;
      letter-spacing: 0px;
    }
    .texto {
      color: #fff;
      font-weight: 100;
      font-size: 0.9rem;
      margin-top: 1rem;
      line-height: 150%;
    }
    .area-botao {
      margin-top: 2rem;
      button {
        border: none;
        background: transparent;
        color: #dcbe91;
        border-bottom: 1px solid;
        padding: 0;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 100;
        letter-spacing: 1px;
        outline: 0 !important;
        cursor: pointer;
      }
    }
  }
  .coluna-direita {
    width: 70%;
    @include tablet {
      width: 100%;
    }
    .titulo {
      font-size: 21px;
      padding: 1rem;
      border: 1px solid $cor-borda;
      @include desktop {
        display: grid;
        height: 84px;
        width: 100%;
      }
      @include tablet {
        display: inherit;
        height: auto;
        font-size: 18px;
        width: auto;
      }
      @include celular {
        border: none;
        height: 78px;
        letter-spacing: 0.2em;
        padding: 1.4rem 2rem 2rem 2rem;
        width: 310px;
      }
    }
    .itens {
      margin-top: 1.8rem;
      .item {
        border: 1px solid $cor-borda;
        overflow: hidden;
        padding: 4px;
        outline: 0 !important;
        @include celular {
          margin-right: 0;
          padding: 4px 2rem;
          border: none;
        }
        a {
          outline: 0 !important;
        }
        .imagem-item {
          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            transition: 0.2s;
            filter: grayscale(1);
          }
        }
        .info-item {
          background: #202020;
          padding: 0 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 70px;
          .nome {
            color: #dcbe91;
            font-weight: 600;
            width: 50%;
            line-height: 18px;
            font-size: 15px;
          }
          .funcao {
            color: #dddddd;
            font-weight: 100;
            text-transform: uppercase;
            font-size: 0.75rem;
          }
        }

        &:hover {
          .imagem-item {
            img {
              filter: grayscale(0);
            }
          }
        }
      }
      .slick-prev {
        top: 380px;
        left: 700px;
        @include desktop {
          left: 580px;
        }
        @include tablet {
          left: 630px;
        }
        @include celular {
          top: 164px;
          left: 10px;
          z-index: 99;
        }
        &::before {
          content: '';
          background: url('../icons/esquerda.svg');
          background-repeat: no-repeat;
          padding: 5px 8px;
          @include celular {
            background-size: 60%;
          }
        }
      }
      .slick-next {
        top: 380px;
        right: 8px;
        z-index: 999;
        @include celular {
          top: 160px;
          right: 2px;
        }
        &::before {
          content: '';
          background: url('../icons/direita.svg');
          background-repeat: no-repeat;
          padding: 5px 8px;
          @include celular {
            background-size: 60%;
          }
        }
      }
    }
    .area-botao {
      margin: 1.8rem 0 0 0;
      @include celular {
        margin: 1rem 2rem 0 2rem;
      }
      .botao-principal {
        @include celular {
          width: 100%;
        }
      }
    }
  }
}
