// RODAPE
.rodape {
  padding: 2rem 0;
  margin-top: 2rem;
  border-top: 1px solid $cor-borda;
  padding-top: 2rem;
  @include tablet {
    padding: 4rem 1rem 5rem 1rem;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
  }
  .localizacao {
    display: flex;
    align-items: center;
    img {
      width: 26px;
    }
    span {
      font-size: 14px;
      color: #fff;
      margin-left: 0.4rem;
      font-weight: 100;
    }
  }
  .instagram {
    display: flex;
    align-items: center;
    @include celular {
      margin-top: 2rem;
    }
    .titulo {
      font-size: 15px;
      line-height: 165%;
      letter-spacing: 0.395em;
      color: #dcbe91;
      margin-right: 2rem;
    }
    .insta-gallery-list {
      width: 400px;
      opacity: 1;
      @include celular {
        width: 250px;
      }
    }
    .insta-gallery-feed
      .insta-gallery-list
      .insta-gallery-item
      .insta-gallery-image-wrap {
      z-index: -1;
    }
  }
}
.assinatura {
  background: #000;
  padding: 0.6rem 0;
  text-align: center;
  img {
    width: 32px;
  }
}
.swiper-container {
  z-index: -2 !important;
}
.some {
  opacity: 0 !important;
  transform: scale(0) !important;
}
