// SINGLE AGENCIADOS
.single-agenciados {
  @include celular {
    padding: 2rem;
  }
  .header {
    @include celular {
      background: #202020;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }
    .container {
      @include celular {
        border: none;
      }
    }
    .logo {
      @include celular {
        padding: 0.6rem;
        width: max-content;
        margin: auto;
      }
      #logo-desk {
        @include celular {
          display: none;
        }
      }
      #logo-mobile {
        @include celular {
          display: block !important;
        }
      }
      img {
        @include celular {
          width: 70px;
        }
      }
    }
  }
  .conteudo {
    padding-top: 10.5rem;
    @include tablet {
      padding-top: 0rem;
    }
    .container {
      padding: 0;
    }
  }
  .nome-agenciado {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.455em;
    color: #fff;
    font-weight: 100;
    @include borda;
    padding: 1rem;
    width: max-content;
    @include tablet {
      width: 100%;
      margin-top: 2rem;
      font-size: 24px;
    }
    @include celular {
      font-size: 18px;
      text-align: center;
    }
  }

  .linha {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-wrap: wrap;
    }
    .coluna-esquerda {
      width: 24%;
      @include borda;
      padding: 4px;
      position: relative;
      @include tablet {
        width: 49%;
      }
      @include celular {
        width: 100%;
      }
      .imagem-agenciado {
        img {
          width: 100%;
          height: 207px;
          object-fit: contain;
        }
      }
      .itens {
        padding: 1rem 0 2rem 0;
        .item {
          padding: 1rem 0 0 1rem;
          width: 80%;
          h2 {
            font-weight: bold;
            font-size: 14px;
            color: #dddddd;
            margin: 0;
            text-transform: uppercase;
            span {
              font-size: 14px;
              color: #dcbe91;
              font-weight: bold;
              text-transform: capitalize;
            }
          }
          .redes-sociais {
            display: flex;
            align-items: center;
            margin-top: 1rem;
            div {
              &:first-child {
                img {
                  margin: 0 !important;
                }
              }
              img {
                width: 46px;
                height: 46px;
                object-fit: contain;
                margin-left: 0.4rem;
              }
            }
          }
        }
      }
      // HABILIDADES
      .habilidades {
        position: absolute;
        bottom: -12px;
        left: 11px;
        .botao {
          background: #000;
          &:hover {
            background: #dcbe91;
            color: #000;
          }
        }
        // MODAL
        #modalHabilidades {
          .modal-content {
            padding: 2rem 4rem;
          }
          .modal-header {
            padding: 0;
            .close {
              margin: -2rem -3.5rem 0rem auto;
            }
          }
          .modal-body {
            padding: 0;
            .itens {
              padding: 0;
              .item {
                width: 100%;
                padding: 0;
                margin-top: 1rem;
                .tipo-habilidade {
                  text-transform: uppercase;
                  font-weight: 400;
                  font-size: 0.9rem;
                  margin: 0;
                }
                .nome-habilidade {
                  font-size: 0.9rem;
                }
              }
            }
          }
        }
      }
    }

    .coluna-central {
      width: 42%;
      // height: 100%;
      @include borda;
      padding: 1rem;
      @include tablet {
        width: 49%;
      }
      @include celular {
        width: 100%;
        margin-top: 1rem;
      }
      .titulo-coluna {
        font-weight: bold;
        font-size: 16px;
        color: #dddddd;
        text-transform: uppercase;
      }
      .fotos {
        margin-bottom: 4rem;
        display: flex;
        flex-wrap: wrap;
        .foto {
          margin: 0.4rem 0.4rem 0 0;
          img {
            width: 86px;
            height: 92px;
            object-fit: cover;
          }
        }
      }
      .videos {
        display: flex;
        flex-wrap: wrap;
        .video {
          margin: 0.4rem 0.4rem 0 0;
          img {
            width: 86px;
            height: 92px;
            object-fit: cover;
          }
        }
      }
      .outros-videos {
        a {
          img {
            width: 86px;
            height: 92px;
          }
        }
      }
    }

    .coluna-direita {
      width: 30%;
      height: 693px;
      overflow-y: scroll;
      @include borda;
      padding: 1rem;
      @include tablet {
        width: 100%;
        margin-top: 1rem;
      }
      &::-webkit-scrollbar-track {
        background-color: #000;
      }
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background: #dcbe91;
      }
      .titulo-coluna {
        font-weight: bold;
        font-size: 16px;
        color: #dddddd;
        text-transform: uppercase;
        border-bottom: 1px solid $cor-borda;
        padding-bottom: 0.8rem;
      }
      .texto {
        font-size: 15px;
        line-height: 178.5%;
        color: #ffffff;
        font-weight: 100;
      }
    }
  }
}

// CHEFS AGENCIADOS
.chefs-agenciados {
  .coluna-esquerda {
    height: 30vh;
    @include tablet {
      height: auto;
      margin-bottom: 1rem;
    }
  }
  .habilidades {
    @include tablet {
      left: 15% !important;
    }
    @include celular {
      left: 13% !important;
    }
  }
}
