// SINGLE OFICINAS E PALESTRAS
.single-oficinas-palestras {
  @include celular {
    padding-top: 2rem;
  }
  .header {
    @include celular {
      background: #202020;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }
    .container {
      @include celular {
        border: none;
      }
    }
    .logo {
      @include celular {
        padding: 0.6rem;
        width: max-content;
        margin: auto;
      }
      #logo-desk {
        @include celular {
          display: none;
        }
      }
      #logo-mobile {
        @include celular {
          display: block !important;
        }
      }
      img {
        @include celular {
          width: 70px;
        }
      }
    }
  }
  .conteudo {
    padding-top: 10.5rem;
    @include tablet {
      margin-top: 2rem;
      padding-top: 0rem;
    }
    .container {
      padding: 0;
      @include celular {
        padding: 0 1rem;
      }
    }
    .titulo {
      @include borda;
      padding: 1rem;
      @include celular {
        text-align: center;
      }
    }

    // LINHA
    .linha {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      @include celular {
        flex-wrap: wrap;
      }
      .coluna-esquerda {
        width: 38%;
        height: 100%;
        @include borda;
        padding: 4px;
        @include celular {
          width: 100%;
        }
        .imagem-destaque {
          img {
            width: 100%;
            height: 254px;
            object-fit: cover;
          }
        }
        .info {
          padding: 0 1rem;
          .item {
            padding: 2rem 0;
            border-top: 1px solid $cor-borda;
            line-height: 178.5%;
            &:first-child {
              border: none;
            }
          }
          .titulo-item {
            h2 {
              color: #dcbe91;
              font-weight: bold;
              font-size: 14px;
            }
          }
          .texto-item {
            p {
              font-weight: 100;
              color: #fff;
              font-size: 14px;
              span {
                font-weight: 600;
              }
            }
          }
        }
      }
      .coluna-direita {
        width: 60%;
        height: 100%;
        @include borda;
        padding: 2rem;
        @include celular {
          width: 100%;
          margin-top: 1rem;
          padding: 1rem;
        }
        .texto {
          font-weight: 100;
          color: #fff;
          font-size: 15px;
          line-height: 178.5%;
        }
        img {
          width: 100%;
          height: 265px;
          object-fit: cover;
          margin: 2rem 0;
        }
        .titulo-item {
          color: #dcbe91;
          font-weight: bold;
          font-size: 15px;
          margin: 2rem 0 1rem 0;
        }
      }
    }
  }
}
